.version.index /* version checker */
{
	color: #0000E9;
	background-color: #F7F9D1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1040px;
	min-height: 499.6500000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu656
{
	width: 0.01px;
	margin-left: -120px;
}

#u656
{
	z-index: 2;
	width: 1280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u76-5
{
	z-index: 4;
	width: 120px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 919px;
}

#u76-2
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u77-4
{
	z-index: 9;
	width: 61px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 1073px;
}

#u87-4
{
	z-index: 13;
	width: 498px;
	min-height: 98px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
	line-height: 58px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 388px;
}

#u610-4
{
	z-index: 29;
	width: 207px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 146px;
}

#u618-6
{
	z-index: 33;
	width: 204px;
	min-height: 104px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 930px;
}

#u624-4
{
	z-index: 39;
	width: 93px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 933px;
}

#u625-4
{
	z-index: 43;
	width: 88px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 1046px;
}

#u570-4
{
	z-index: 17;
	width: 287px;
	min-height: 42px;
	background-color: transparent;
	color: #555555;
	font-size: 36px;
	line-height: 43px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 35px;
	margin-top: 36px;
	position: relative;
}

#u606-8
{
	z-index: 21;
	width: 736px;
	min-height: 130px;
	background-color: transparent;
	color: #555555;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 35px;
	margin-top: 26px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1040px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

