.version.index /* version checker */
{
	color: #000006;
	background-color: #B026D2;
}

#page
{
	z-index: 1;
	width: 1040px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu692
{
	width: 0.01px;
	margin-left: -120px;
}

#u692
{
	z-index: 2;
	width: 1280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u75
{
	z-index: 6;
	height: 135px;
}

.ie #u75
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u75-bw
{
	z-index: 6;
	margin-top: 453px;
	height: 135px;
}

#u76-5
{
	z-index: 7;
	width: 120px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 919px;
}

#u76-2
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u77-4
{
	z-index: 12;
	width: 61px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 1073px;
}

#u87-6
{
	z-index: 16;
	width: 498px;
	min-height: 98px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 388px;
}

#u87-2
{
	font-size: 48px;
	line-height: 58px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u87-4
{
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u610-4
{
	z-index: 52;
	width: 207px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 146px;
}

#u618-6
{
	z-index: 56;
	width: 204px;
	min-height: 104px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 930px;
}

#u624-4
{
	z-index: 62;
	width: 93px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 933px;
}

#u625-4
{
	z-index: 66;
	width: 88px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 1046px;
}

#widgetu698
{
	z-index: 70;
	width: 0.01px;
	height: 141px;
	position: relative;
	margin-right: -10000px;
	margin-top: 311px;
	left: 341px;
}

#widgetu699
{
	z-index: 71;
	width: 514px;
	height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu699.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 514px;
	height: 32px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u702-4
{
	z-index: 72;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#widgetu699.fld-err-st #u702-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 6px -10000px 0px 0px;
}

#u700-4
{
	z-index: 76;
	width: 328px;
	min-height: 20px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	color: #555555;
	font-size: 18px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

.html,#widgetu699.non-empty-st #u700-4
{
	background-color: #FFFFFF;
}

#widgetu699:hover #u700-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu699.focus-st #u700-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu699.non-empty-st #u700-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu699:hover #u700-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu699.focus-st #u700-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu711
{
	z-index: 80;
	width: 502px;
	height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 12px;
}

#widgetu711.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 502px;
	height: 32px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u713-4
{
	z-index: 81;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#widgetu711.fld-err-st #u713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 5px -10000px 0px 0px;
}

#widgetu699.fld-err-st #u702-4 p,#widgetu699.fld-err-st #u702-4 span,#widgetu711.fld-err-st #u713-4 p,#widgetu711.fld-err-st #u713-4 span
{
	color: #D7244C;
}

#u714-4
{
	z-index: 85;
	width: 328px;
	min-height: 20px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	color: #555555;
	font-size: 18px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 162px;
}

#widgetu711.non-empty-st #u714-4
{
	background-color: #FFFFFF;
}

#widgetu711:hover #u714-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu711.focus-st #u714-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu699.fld-err-st #u700-4,#widgetu711.fld-err-st #u714-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu711.non-empty-st #u714-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu711:hover #u714-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu711.focus-st #u714-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu699.fld-err-st #u700-4 *,#widgetu711.fld-err-st #u714-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu699_input,#widgetu699_prompt,#widgetu711_input,#widgetu711_prompt
{
	width: 328px;
	min-height: 20px;
	color: #555555;
	font-family: open-sans, sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 6px;
}

#widgetu699.focus-st #widgetu699_prompt,#widgetu711.focus-st #widgetu711_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu699:hover #widgetu699_input,#widgetu699.focus-st #widgetu699_input,#widgetu699.fld-err-st #widgetu699_input,#widgetu699:hover #widgetu699_prompt,#widgetu699.fld-err-st #widgetu699_prompt,#widgetu711:hover #widgetu711_input,#widgetu711.focus-st #widgetu711_input,#widgetu711.fld-err-st #widgetu711_input,#widgetu711:hover #widgetu711_prompt,#widgetu711.fld-err-st #widgetu711_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu699.non-empty-st #widgetu699_prompt,#widgetu711.non-empty-st #widgetu711_prompt
{
	visibility: hidden;
}

#u703-4
{
	z-index: 89;
	width: 200px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 314px;
}

#widgetu698.frm-sub-st #u703-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u709-4
{
	z-index: 93;
	width: 200px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 314px;
}

#widgetu698.frm-sub-st #u703-4,#widgetu698.frm-subm-err-st #u709-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu698.frm-subm-err-st #u709-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u704-4
{
	z-index: 97;
	width: 200px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 314px;
}

#widgetu698.frm-subm-ok-st #u704-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu698.frm-subm-ok-st #u704-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u710-17
{
	z-index: 101;
	min-height: 33px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 174px;
	background: url("../images/u710-17-adm.png") no-repeat 0px 0px;
}

#u710-17:hover
{
	background: url("../images/u710-17-adm-r.png") no-repeat 0px 0px;
}

#u710-17:active
{
	background: url("../images/u710-17-adm-m.png") no-repeat 0px 0px;
}

#widgetu698.frm-sub-st #u710-17
{
	background: url("../images/u710-17-adm-fs.png") no-repeat 0px 0px;
}

#u570-4
{
	z-index: 22;
	width: 287px;
	min-height: 42px;
	background-color: transparent;
	color: #555555;
	font-size: 36px;
	line-height: 43px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 35px;
	margin-top: 26px;
	position: relative;
}

#u571-4
{
	z-index: 26;
	width: 982px;
	min-height: 62px;
	background-color: transparent;
	color: #555555;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 36px;
	margin-top: 12px;
	position: relative;
}

#ppu582
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 12px;
}

#pu582
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 252px;
}

#u582
{
	z-index: 32;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u607-4
{
	z-index: 40;
	width: 127px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 10px;
}

#pu614
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 756px;
}

#u614
{
	z-index: 4;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u609-4
{
	z-index: 48;
	width: 127px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 10px;
}

#u576
{
	z-index: 30;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u587
{
	z-index: 34;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#u606-4
{
	z-index: 36;
	width: 127px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 10px;
}

#u608-4
{
	z-index: 44;
	width: 127px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 514px;
}

body
{
	position: relative;
	min-width: 1040px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

